# Start of gitignore

### C++ ###
# Compiled Object files
*.o
*.out

# Compiled Dynamic libraries
*.so 


### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*


### Project ###
*.code-workspace
*.zip
*.tar.gz
*.in
hw1/examples/*
hw2/examples/*
*.tab.*
*.yy.c
*.output
# End